body{
    background-image: url(imag/Fondo1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-position: center center;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center center;
}
.pokelogo{
    block-size: 130px;
    margin-bottom: 25px;
}  
  
.login{
    background-color:transparent;
    border: 3px solid hsl(61, 91%, 56%);
    margin: auto;
    position: absolute;
    align-items: center center;
    left: 490px;
    right: 490px;
    top: 254px;
    height: 516px;
    width: 460px;
    bottom: 254px;
    box-shadow: 2px 2px 1px rgba(81, 104, 180, 0.1);
}
 
label{
  height: 45px;
  width: 335px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;  
  display: flex;
  align-items: left;
  color: #00000c;
  width: 90%;
  margin: 1% 0% 1% 0%;
  display: inline-block;
 
}
input{
  height: 45px;
  width: 335px;
  margin: 0;
  padding: 0X;
  border-radius:5px;
  font-weight: 200;
  font-size: 16px;
  outline: 0px;
  background-color: #ffffff;
  border: solid 2px rgb(124, 123, 123);
  color: #767777;
    }
h6{
  width: 335px;
  height: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  color: #00000c;

}
#btnenviar{
  width: 335px;
  height: 45px;
  margin: 0;
  padding: 0;
  border-radius: 0x;
  border: 0;
    padding: 10px;
  font-weight: 600;
  font-size: 20px;
    border: 2px solid #f0e551;
  background: #2530cf;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
}

h5{
  width: 335px;
  height: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  color: #00000c;
}
.mostrar{ 
    display: block;
 padding-top: 4%;
}
.ocultar{
    display: none;
}


img {
  width: 190px;
  height: rgb(238, 227, 134);
  margin-top: 0px;
  flex-direction: column-reverse;
}
 	    
#menubar {
	max-width: 250px;
	position: relative;
}
#menubar select , .btninicio{
    display: inline-block;
	width: 150px;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.btninicio:hover{
    background: #B1E8CD;
}

#menubar select:hover{
	background: #B1E8CD;

}

.menubar i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid rgb(188, 224, 206), 201, 170;
}

.menubar:hover i{
	margin-top: 3px;
}

 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: inline-block;
  align-content: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 20px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}


/* 

  
 
  }

 */
                    
